
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Solway:wght@300;400;500&display=swap');
// font-family: 'Nerko One', cursive;
// font-family: 'Solway', serif;

html{
    font-size: 10px;
}
body{
    font-family: "Solway", serif;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 400;
    background-color: #bbb;
}
img{
    max-width: 100%;
}
.page-title {
    text-align: center;
    margin: 20px 0;
    h1 {
        color: #084298;
    }
}


.cardList{
    .card-image{
       img{
        max-height: 200px;
       }
    }
    .porduct-card {
        border: 1px solid #41464b;
        background: #fff;
        min-height: 307px;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
    }
}